{% extends "layout.html" %}

{% block title %}Paciente{% endblock %}

{% block body %}

<nav class="navbar navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a href="{{ url_for('patient.create') }}" title="Novo Paciente">
        <button class="btn btn-outline-secondary">
          <svg class="bi bi-person-plus-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm7.5-3a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
          </svg>
        </button>
      </a>
    </li>
  </ul>
  <form class="form-inline" action="{{ url_for('patient.search')}}" method="get">
    <input class="form-control mr-sm-2" name="name" id="name" type="search" placeholder="Pesquisar paciente" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
      <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
      </svg>
    </button>
  </form>
</nav>

{% if patients %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="width:5%">#</th>
      <th scope="col" style="width:75%">Nome</th>
      <th scope="col" style="width:5%"></th>
      <th scope="col" style="width:15%"></th>
    </tr>
  </thead>
  <tbody>
    {% for p in patients %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.name }}</td>
      <td>
        <a href="{{ url_for('patient.update', id=p['id']) }}" title="{{ p.name }}">
          <button class="btn btn-outline-secondary">
            <svg class="bi bi-pen" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391L10.086 2.5a2 2 0 012.828 0l.586.586a2 2 0 010 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 011.414 0l.586.586a1 1 0 010 1.414L5 13l-3 1 1-3z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 00-.708 0L5.854 5.855a.5.5 0 01-.708-.708L8.44 1.854a1.5 1.5 0 012.122 0l.293.292a.5.5 0 01-.707.708l-.293-.293z" clip-rule="evenodd"/>
              <path d="M13.293 1.207a1 1 0 011.414 0l.03.03a1 1 0 01.03 1.383L13.5 4 12 2.5l1.293-1.293z"/>
            </svg>
          </button>
        </a>
      </td>
      <td><a href="{{ url_for('patient.plans', id=p['id']) }}" title="{{ p.name }}">
          <button class="btn btn-outline-secondary">Planos</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}