{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="posts">
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            {% if patients %}
            <h2>{{ patient.name }} - Novo Plano</h2>
            {% endif %}
            <form method="post">
                {{ form.csrf_token }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.plan_type.label }}
                        {{ form.plan_type(class_="form-control") }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.payment_type.label }}
                        {{ form.payment_type(class_="form-control") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.value.label }}
                        {{ form.value(class_="form-control") }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.receipt.label }}
                        {{ form.receipt(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.note.label }}
                    {{ form.note(class_="form-control") }}
                </div>
                {% if not readonly %}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Salvar</button>
                {% endif %}
            </form>

            {% if readonly %}
            <ul class="edit">
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Data</th>
                                <th scope="col">Hora</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for v in visits %}
                            <tr>
                                <td>{{ v.id }}</td>
                                <td>{{ v.date|to_date }}</td>
                                <td>{{ v.time|to_time }}</td>
                                <td>                                    
                                    <a href="{{ url_for('visit.update', id=v['id']) }}" title="{{ v.name }}">
                                        <button class="btn btn-outline-secondary">Editar</button>
                                    </a>
                                </td>
                                <td>
                                    <form action="{{ url_for('visit.delete', id=v['id']) }}" method="post">
                                        <button class="btn btn-outline-secondary" type="submit" value="Delete"
                                            onclick="return confirm('Excluir consulta?');">Excluir</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </ul>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}