{% extends "layout.html" %}

{% block jscript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#date').mask('00/00/0000');
        $('#time').mask('00:00');
    });
</script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <label for="firstName">Paciente</label>
        <input type="text" class="form-control" id="name" placeholder="" value="{{ plano.patient.name }}" readonly>
    </div>
    <div class="col-md-4">
        <label for="lastName">Plano</label>
        <input type="text" class="form-control" id="planType" placeholder="" value="{{ plano.plan_type }}" readonly>
    </div>
</div>

<hr class="mb-4">

<form method="post">
    {{ form.csrf_token }}
    <div class="row justify-content-center">
        <div class="form-group col-md-2">
            {{ form.date.label }}
            {{ form.date(class_="form-control") }}
        </div>
        <div class="form-group col-md-2">
            {{ form.time.label }}
            {{ form.time(class_="form-control") }}
        </div>
        <div class="form-group col-md-4">
            {{ form.sequence_number.label }}
            {{ form.sequence_number(class_="form-control") }}
        </div>
    </div>

    <div class="col-md-8 offset-md-2">
        <button class="btn btn-info btn-lg btn-block" type="submit">Salvar</button>
    </div>
</form>

<hr class="mb-4" />

<div class="col-md-8 offset-md-2">
    <a href="{{ url_for('patient.plans', id=plano.patient.id ) }}" title="Voltar">
        <button type="button" class="btn btn-outline-info btn-md btn-block">Voltar</button>
    </a>
</div>

{% endblock %}